body {
  font-family: Arial, Helvetica, sans-serif;
}

.slider {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  margin: 0 200px 0 0;
  overflow: hidden;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.arrow {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  border-radius: 10px;
  cursor: pointer;
  transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 300ms;
}

.back__arrow {
  position: absolute;
  left: -60px;
  top: 50%;
  z-index: 100;
  opacity: 0.5;
  transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.next__arrow {
  position: absolute;
  top: 50%;
  right: -60px;
  z-index: 100;
  opacity: 0.5;
  transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.slider__container:hover ~ .back__arrow,
.back__arrow:hover {
    left: 30px;
    opacity: 1;
}

.slider__container:hover ~ .next__arrow,
.next__arrow:hover {
  opacity: 1;
  right: 30px;
}

header {
  margin: 30px 100px 50px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  font-size: 25px;
  color: #fb6d55;
}

#mainmenu {
  margin: auto;
  
}

#mainmenu ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  border: 2px solid #f4f5f7;
  border-radius: 50px;
  height: 80px;
}

#mainmenu ul li{
  line-height: 80px;
  margin-left: 20px;
  margin-right: 60px;
  font-size: 15px;
  color: #5c548e;
  font-weight: bold;
}

#mainmenu ul li:hover {
  line-height: 80px;
  height: 80px;
  border-bottom: 2px solid #fb6d55;
  color: #fb6d55;
  cursor: pointer;
  font-weight: bold;
}

#login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

#loginText{
  color: #5c548e;
  margin: auto 10px auto auto;
  font-weight: bold;
}

.fa-user-circle {
  font-size: 40px;
  color: #fb6d55;
  border: 2px solid #fb6d55;
  padding: 15px;
  border-radius: 50%;
}

.fa-user-circle:hover {
  cursor: pointer;
  color: #5c548e;
  border: 2px solid #5c548e;
  transform: rotateY(180deg);
  transition: 1s;
}

#mainSlide {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}

#mainSlideLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#mainSlideLeftTitle > h1 {
  margin-top: 100px;
  color: #5c548e;
  font-size: 50px;
}

#mainSlideLeftDesc {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

#mainSlideLeftDesc > h3 {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 50px;
  color: #5c548e;
  font-size: 20px;
}

.fa-chart-bar {
  color: #5c548e;
  font-size: 60px;
}

#btn {
  border: 2px solid #fb6d55;
  padding: 20px 20px;
  color: #5c548e;
  text-align: center;
  width: 170px;
  border-radius: 50px;
  font-size: 20px;
  text-transform: uppercase;
}

#btn:hover {
  background-color: #5c548e;
  color: white;
  cursor: pointer;
}

.fa-caret-right {
  color: #fb6d55;
  margin-left: 10px;
}

#mainSlideRight {
  background-image: url('/Images/slide.jpg');
  background-size: center;
  width: 70%;
  background-position: -100px -150px;
  height: 750px;
}

#packages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 100px 50px 150px;
}
#packagesLeft {

  display: flex;
  flex-direction: column;
}

#packagesright {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  margin-right: 100px;
}

#packagesLeftItem1,
#packagesLeftItem2 {
  height: 350px;
  width: 350px;
}

#packagesLeftItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

#packagesLeftItem1 > h3 {
  color: #fb6d55;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#packagesLeftItem1 > h2 {
  color: #5c548e;
  font-size: 40px;
  margin-top: 70px;
}

#packagesLeftItem2 > h3 {
  color: #5c548e;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}

#packagesLeftItem2 > hr {
  border: 3px solid #fb6d55;
  border-radius: 6px;
  width: 15%;
  margin-left: 0px;
}

#packagesright1 > img,
#packagesright2 > img {
  height: 350px;
  width: 350px;
}

#packagesright3 > img,
#packagesright4 > img {
  height: 350px;
  width: 350px;
  margin-top: -4px;
}

#packagesright1:hover > img,
#packagesright2:hover > img,
#packagesright3:hover > img,
#packagesright4:hover > img {
  transform: rotateY(360deg);
  cursor: pointer;
  transition: 2s;
}

#ourClients {
  width: 100%;
  height: 250px;
  background-color: #ff6d54;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#ourClients > h2 {
  color: white;
  font-size: 50px;
  margin-right: 50px;
}

#ourClients > i {
  font-size: 150px;
  color: white;
  margin-left: 50px;
}

#ourClients > i:hover {
  cursor: pointer;
  color: #5c548e;
  transition: 1s;
  transform: scale(1.1);
}

#ourClientsBTN {
  border: 2px solid white;
  padding: 20px 30px;
  border-radius: 30px;
  color: white;
  margin-left: 100px;
}

#ourClientsBTN:hover {
  cursor: pointer;
  background: #5c548e;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #a2bc99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#copyright {
  margin-left: 150px;
  color: #c2d6bb;
  width: 25%;
}

#emails {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: left;
}

#rules {
  margin-right: 150px;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: right
}

#rules > h3 {
  font-size: 15px;
  color: white;
  margin-left: 20px;
  border-bottom: 1px solid #c2d6bb;
  padding-bottom: 10px;
}

#rules > h3:hover {
  color: #5c548e;
  cursor: pointer;
  border-bottom: 1px solid #5c548e;
  transition: 1s;
  transform: scale(1.1);
}

#emails1 > h2, 
#emails2 > h2 {
  color: #c2d6bb;
  font-size: 15px;
}

#emails1 > h3, 
#emails2 > h3 {
  color: #fff;
  font-size: 15px;
}

#emails1 > h3:hover, 
#emails2 > h3:hover {
  color: #5c548e;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
}

#emails2 {
  margin-left: 40px;
}

#bottomMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px solid #f4f5f7;
  height: 150px;
  margin-top: 100px;
}

#logobottom{
  width: 25%;
  margin-left: 150px;
}

#logobottom > h2 {
  color: #fb6d55;
  font-size: 40px;
}

#bottomMenuItems {
  width: 55%;
}

#social {
  width: 30%;
  text-align: right;
  margin-right: 150px
}

#bottomMenuItems ul{
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style-type: none;
  height: 150px;
}

#bottomMenuItems ul li{
  margin-top: -2px;
  line-height: 150px;
  margin-right: 20px;
  color: #5c548e;
  font-weight: bold;
  border-top: 2px solid #f4f5f7;
}

#bottomMenuItems ul li:hover {
  line-height: 150px;
  height: 150px;
  cursor: pointer;
  font-weight: bold;
  color: #fb6d55;
  border-top: 2px solid #fb6d55;
}

#social > i {
  margin-left: 20px;
  background-color: #fb6d55;
  color: white;
  padding: 10px 10px;
  border-radius: 50%;
}

#social > i:hover {
  background-color: #5c548e;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: 1s
}

#slidTop {
  margin-left: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#slidTopright {
  color: #d7d7e1;
  font-size: 150px;
  font-weight: bold;
  margin-right: 250px;
}

#slidTopLeft > h3 {
  color: #fb6d55;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#slidTopLeft > h2 {
  color: #5c548e;
  font-size: 40px;

}

#slidBot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

#slidBotLeft {
  margin-left: 150px;
}

#slidBotLeft > h3 {
  color: #5c548e;
}

#slidBotRight {
  margin-right: 250px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

#catClient {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

#catClient > h3 {
  color: #fb6d55;
  font-size: 15px;
}

#catClient > h2 {
  color: #5c548e
}

#catClient > hr {
  border: 2px solid #fb6d55;
  width: 100%;
  margin-top: 30px;
}

#blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

#blogLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  width: 15%;
}

#blogMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  padding: 50px 50px;
  box-shadow: 0 0 15px #d7d7e1;
  width: 20%;
}

#blogright {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
}

#blogright > i {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fb6d55;
}

#blogright > i:hover {
  cursor: pointer;
  color: #5c548e;
  transform: scale(1.1)
}

#blogLeft > h4 {
  letter-spacing: 5px;
  color: #fb6d55;
}

#blogLeft > h2 {
  color: #5c548e;
  font-size: 40px
}

#blogLeft > hr {
  border: 2px solid #fb6d55;
  width: 30%;
  margin: 30px 0px;
}

#blogMiddle > h4 {
  letter-spacing: 5px;
  color: #d7d7e1;
}

#blogMiddle > h2 {
  color: #5c548e;
  font-size: 50px
}

#blogMiddle > h3,
#blogMiddle > h5 {
  color: #fb6d55;
}

#blogMiddle > hr {
  border: 2px solid #fb6d55;
  width: 30%;
  margin: 30px 0px;
}

#blogLeft > h3,
#blogLeft > h5 {
  color: #5c548e
}

#blogemail {
  margin-top: 30px;
  margin-bottom: 20px;
  color: gray;
  border: 0;
  border-bottom: 1px solid #d7d7e1
}

 /* Modal Header */
 .modal-header {
  padding: 2px 16px;
  background-color: #5c548e;
  color: white;
  text-align: center;
}

/* Modal Body */
.modal-body {
  padding: 50px 16px;
  text-align: center;
}

/* Modal Footer */
.modal-footer {
  padding: 20px 16px;
  background-color: #5c548e;
  color: white;
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fb6d55;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

#loginBTN {
  border: 1px solid white;
  background-color: #fb6d55;
  color: white;
  padding: 20px 50px;
  border-radius: 40px;
}

#loginBTN:hover {
  border: 1px solid #fb6d55;
  background-color: #5c548e;
  cursor: pointer;
}

.modal-body > input {
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 30px;
}

.modal-body > input:focus {
  box-shadow: 0 0 10px #5c548e;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 

