* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
}

.left {
    width: 20%;
    background-color: rgb(51, 44, 44);
}

.right {
    width: 80%;
    background-color: rgb(85, 80, 80);
}

.left-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
}

.resultTitle {
    color: rgb(218, 187, 12);
    text-shadow: 2px 2px 5px rgb(167, 81, 81);
}

.statics {
    display: flex;
    margin-top: 50px;
}

.statics-name {
    color: rgb(10, 170, 71);
    font-weight: bold;
}

.results {
    color: white;
    margin-left: 40px;
}

.results nav ul li,
.statics nav ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.copyright {
    color: white;
    margin-top: 300px;
}

.copyright h2 {
    color: rgb(218, 187, 12);
    text-shadow: 2px 2px 5px #FF0000;
}

.table {
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
}

.tableHead {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(223, 222, 226);
    border-top-left-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.addBTN {
    border-radius: 50px;
    text-align: center;
    padding: 10px 20px;
    width: 200px;
    background-color: rgb(19, 173, 19);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.RMBTN {
    border-radius: 50px;
    text-align: center;
    padding: 10px 20px;
    width: 200px;
    background-color: rgb(158, 9, 9);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    pointer-events: painted;
}

.UPBTN {
    border-radius: 50px;
    text-align: center;
    padding: 10px 20px;
    width: 200px;
    background-color: rgb(22, 74, 214);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.table-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stud-list {
    display: flex;
    flex-direction: column;
}

.studTitles {
    padding: 10px 10px;
    border: 1px solid black;
    border-top: 0;
    background-color: rgb(255, 153, 0);
    font-weight: bold;
    height: 40px;
}

.stud {
    padding: 10px 10px;
    border: 1px solid black;
    border-top: 0;
    background-color: rgb(255, 153, 0);
    font-weight: bold;
    height: 40px;
    margin-top: 5px;
}

.avarage {
    display: flex;
    flex-direction: column;
}

.avarageScore {
    padding: 10px 10px;
    border: 1px solid black;
    border-top: 0;
    background-color: rgb(233, 236, 12);
    text-align: center;
    height: 40px;
    margin-top: 5px;
}

.avarageScoreTitle {
    padding: 10px 10px;
    border: 1px solid black;
    border-top: 0;
    background-color: rgb(255, 153, 0);
    text-align: center;
    height: 40px;
}

.grade {
    display: flex;
    flex-direction: column;
}

.box {
    padding: 10px 10px;
    border: 1px solid black;
    border-top: 0;
    background-color: rgb(233, 236, 12);
    text-align: center;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
}

.boxTitle {
    padding: 10px 10px;
    border: 1px solid black;
    border-top: 0;
    background-color: rgb(255, 153, 0);
    text-align: center;
    height: 40px;
    width: 100px;
    margin-left: 5px;
}