/* 
 * Colors
 * 
 * Dark gray		#34383c
 * medium gray		#81858a
 * purple			#620e6e
 * blue				#4385c1
 * light blue		#9ac9f4
 * darker blue		#043867
 * darkest blue	#002342
 * blue tint		#e7ecf0
 * green				#7aa120
 */



 body {
	background: white;
	color: #81858a;
	font: 1em/1.6 Helvetica, Verdana, sans-serif;
}

header {
	background: #4385c1;
	color: white;
	font-size: .9rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 20px;
}


footer {
	background: #34383c;
	color: white;
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: normal;
}
h1 {}
h2 {
	font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}
h3 {}
h4 {
	font-size: 1.2rem;
}
h5 {}
h6 {}
p {	font-size: .925rem;
}


img {
	max-width: 100%;
}


/* Links */
a:link, a:visited {
	color: #4385c1;
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: #043867;
}



/* Header */
.branding {
	color: #9ac9f4;
	text-transform: uppercase;
	flex: 1;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}





/* navigation */

#quick-nav {
	flex: 1;
	display: flex;
	align-content: center;
	margin: auto;
}

#quick-nav ul {
	list-style-type: none;
	display: flex;
}
#quick-nav li {
	flex: 1;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #9ac9f4;
}
#quick-nav li:last-of-type {
	border: none;
}

#quick-nav a:link, #quick-nav a:visited {
	color: white;	
}
#quick-nav a:hover, #quick-nav a:focus, #quick-nav a:active {
	color: #9ac9f4;
}

#utilities-nav {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: end;
}

#utilities-nav a{
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	padding: 5px 20px;
	margin-right: 5px;
}

#main-nav {
	background-color: #00477c;
	font-family: Georgia, serif;
	font-size: 1.2em;
	flex: 1 100%;
	align-content: center;
}
#main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
}

#main-nav ul li {
	flex: 1;
	border: 1px solid #106091;
}

#main-nav li a {
	border-collapse: collapse;
	color: white;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 20px 5px;
	display: inline-block;
	width: 100%;
	text-align: center;
	transition: all .5s;
}
#main-nav li:hover {
	background-color: #002e55;
}

.hero {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
.photo {
	position: relative;
}

.textonphoto {
	width: 70%;
	position: absolute;
	top: 50%;
	text-align: center;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	height: 200px;
	margin-top: calc(0% - 100px);
	margin-left: calc(0% + 200px);
}

.textonphoto h3 {
	color: white;
	font-size: 2.5em;
}

.textonphoto p {
	color: white;
	font-size: 1.5em;
}

.hero img {
	width: 100%;
}

#full-nav {
	display: flex;
	flex-wrap: wrap;
}

#full-nav > div {
	width: 24%;
}

#full-nav a:link, #full-nav a:visited {
	color: #81858a;	
}
#full-nav h3 a:link, #full-nav h3 a:visited {
	color: white;
}
#full-nav a:hover, #full-nav a:focus, #full-nav a:active {
	color: white;
}

.footertext {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.move {
	background-color: #7eb620;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
 }

 .move > h3 {
	 flex: 1;
	 font-size: 2.5em;
	 margin-left: 10px;
	 color: white; 
 }

 .move > p {
	flex: 2;
	margin-right: 10px;
	font-size: 1.5em;
	color: white; 
}

.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.box > div:nth-child(1), 
.box > div:nth-child(2), 
.box > div:nth-child(3), 
.box > div:nth-child(4), 
.box > div:nth-child(5),
.box > section:nth-child(6) {
	width: 25%;
	margin: 20px;
	height: 300px;
	padding: 20px;
} 

.box > div:nth-child(1), 
.box > div:nth-child(2), 
.box > div:nth-child(3) {
	background-color: #ebf0f3;
}

.box div:nth-child(4){
	background-color: #830082;
}

.box div:nth-child(5) {
	background-color: #4397cf;
}

.box div:nth-child(4) p, 
.box div:nth-child(5) p {
	color: white;
} 

.box div:nth-child(4) a, 
.box div:nth-child(5) a {
	color: white;
}

.box section:nth-child(6) h4 {
	color: black;
}


.kal {
	border: 1px solid gray;
	border-radius: 5px;
	color: #7eb620;
	width: 50px;
	height: 50px;
	padding: 20px 20px;
	text-align: center;
	float: left;
	margin-bottom: 10px;
}

.kaltext {
	display: flex;
	justify-content: left;
	align-items: center;
}
.tex {
	margin-left: 20px;
	color: #409ddc;
}

.box > section:nth-child(6) {
	position: relative;
	margin-top: 0;
}

.sec {
	position: absolute;
	top: 0;
	left: 0;
}

.but {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: 60px;
}

a.button {
	border: 2px solid #70b2e0;
	color: #70b2e0;
	text-decoration: none;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	width: 20%;
	font-weight: bold;
}