doctype html
html
    head
        link(rel="stylesheet", href="./css/main.css")
        title= title
    body
        p 
            a(href="http://localhost:3000/") Adding Person
            span  | 
            a(href="http://localhost:3000/HDMI") Adding Car
        
        form(action="", method="post")
                span Person Information: 
                input(type="text" placeholder="Name", name="name" value= 'JSON.parse(editPerson[0]).name')
                input(type="text" placeholder="Last Name", name="lastname")
                input(type="number" placeholder="Personal ID", name="id")
                input(type="text" placeholder="Father Name", name="fathername")
                input(type="number" placeholder="Birthdate", name="birthdate")
                input(type="submit", value="Add")