doctype html
html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/main.css")
        title= title
    body
        include ./includes/menu.pug
        div#edit
            form(action="http://localhost:3000/person/update", method="post")
                    div(class="form-row")
                        div(class="form-group col-md-6")
                            label(for="name") Name
                            input(type="text" class="form-control", value= editPerson.name, placeholder="Name", name="name", id="name", required)
                        div(class="form-group col-md-6")
                            label(for="lastname") LastName
                            input(type="text" class="form-control", value= editPerson.lastname, placeholder="LastName", name="lastname", id="lastname", required)
                    div(class="form-row")
                        div(class="form-group col-md-6")
                            label(for="fathername") Father Name
                            input(type="text" class="form-control", value= editPerson.fathername, placeholder="Father Name", name="fathername", id="fathername")
                        div(class="form-group col-md-4")
                            label(for="birthdate") Birthdate
                            input(type="date" class="form-control", value= editPerson.birthdate, placeholder="Birthdate", name="birthdate", id="birthdate")
                        div(class="form-group col-md-2")
                            label(for="id") Personal ID
                            fieldset(disabled)
                                input(type="text" class="form-control", value= editPerson.id, placeholder="Personal ID", name="id", id="id", required)
                    button(type="submit", class="btn btn-primary") UPDATE

    script(src="/js/main.js")  
    include ./includes/footer.pug