doctype html
html
    head
        title= title
    body(style=`background-color: ${colorname}`)
        form(action="", method="post")
            input(type="color", name="colorname")
            button(type="submit") Send